<h1>Now your results</h1>


<p>Your word: <%= @word %><p/>
<p>Time Taken to answer: <%= ?? %><p/>
<p>Your score: <%= ?? %></p>
<p>Message: <%= ?? %></p>

 <%= link_to "Try again!", ask_path, class: "button" %>
